<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css'>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>{{page.title}}</title>
</head>

<body>
    <header>
        <h2>You are currently on the {{page.title}}</h2>
    </header>

    {{ content }}

    <footer>
        This is our footer
    </footer>
</body>

</html>